In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [84]:
plane_crashes = pd.read_csv('plane_crashes_data.csv')

In [85]:
# Describe Data in plane crashes
plane_crashes.describe()

             month         year       aboard   fatalities
count  2709.000000  2709.000000  2709.000000  2709.000000
mean      6.554079  1981.927279    35.817276    25.816537
std       3.532468    16.709136    54.306779    42.599461
min       1.000000  1950.000000     0.000000     0.000000
25%       3.000000  1968.000000     5.000000     3.000000
50%       7.000000  1983.000000    15.000000     9.000000
75%      10.000000  1997.000000    44.000000    29.000000
max      12.000000  2009.000000   644.000000   583.000000

In [86]:
# Group plane crashes by month and determine number of plane crashes that occurred during each month

monthly = plane_crashes.groupby('month').count()
print(monthly['fatalities'])
print(np.max(monthly['fatalities']))

month
1     255
2     209
3     251
4     204
5     181
6     202
7     234
8     239
9     228
10    224
11    230
12    252
Name: fatalities, dtype: int64
255

In [87]:
# Determine max fatalities in one crash
max_fatalities = np.max(plane_crashes['fatalities'])
print(max_fatalities)

583

In [88]:
# Determine count of flights that have had 1 or more fatalitites

one_more = plane_crashes[plane_crashes['fatalities'] >= 1]
count1 = plane_crashes['fatalities'].count()
count2 = one_more['fatalities'].count()
probability= (count2/count1)
statement = "The probability that a flight has had 1 or more fatalities is {}"
print(statement.format(round(probability,2)*100))

The probability that a flight has had 1 or more fatalities is 98.0

In [89]:
# Add column calculating percentage of passengers killed and determine mean
plane_crashes['Percentage'] = plane_crashes['fatalities'] /  plane_crashes['aboard']
print(plane_crashes['Percentage'].mean())

0.8231319223510564